# --- Documentación ---
*.docx

# --- KiCad ---
*.bak
*-bak
_autosave*
*.lck
*.kicad_prl
fp-info-cache
_Controlador PID-backups/
backups/

# --- LTspice ---
*.raw
*.log
*.op.raw
*.fft
*.plt.bak

# --- Manufactura ---
Gerbers_PID_v1 

# --- Archivos de Sistema ---
.DS_Store
Thumbs.db